.movies {
  background-color: #fafafa;
  display: block;
}

.movies__more {
  width: 1140px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

.movies__more-button {
  height: 36px;
  width: 1140px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies__more {
    width: 768px;
  }
  
  .movies__more-button {
    width: 708px;
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .movies__more {
    width: 320px;
    margin: auto;
    padding-top: 61px;
    padding-bottom: 89px;
  }
  
  .movies__more-button {
    height: 36px;
    width: 300px;
    margin-left: 10px;
  }
}