.header {
  height: 74px;
  max-width: 1280px;
  display: flex;
}

.header__navigation {
  display: flex;
  margin-right: 70px;
  margin-left: auto;
  align-self: center;
  text-decoration: none;
}

.header__registration {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.header__registration:hover {
  opacity: 80%;
}

.header__signin {
  left: 88.59%;
  right: 5.47%;
  top: 3.31%;
  bottom: 91.64%;
  background: #3456f3;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  text-decoration: none;
}

.header__signin:hover {
  opacity: 80%;
}

.header__signin-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.header_theme_main {
  background-color: #dddee3;
}

.header_theme_grey {
  background-color: #fafafa;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0 18px 70px;
  background-image: url("../../images/header-image/logo.svg");
  border-radius: 20px;
}

.header__logo:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header__navigation {
    margin-right: 30px;
  }

  .header__logo {
    margin: 18px 0 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }

  .header__logo {
    margin: 18px 0 18px 14px;
  }

  .header__navigation {
    margin-right: 14px;
  }

  .header__registration {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__signin-text {
    font-size: 10px;
  }
}
