.movies-card {
  width: 270px;
  display: block;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.movies-card__list {
  display: block;
}

.movies-card__image {
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.movies-card__description {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  width: 226px;
}

.movies-card__like {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/card-image/save1d.svg);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__like:focus {
  background-image: url(../../../images/card-image/icon__COLOR_main-3.svg);
}

.movies-card__like-delete {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  background-color: #fafafa;
}

.movies-card__like-delete:hover {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/card-image/d1.svg);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  display: block;
}

.movies-card__line {
  width: 270px;
  border-bottom: 1px solid #e8e8e8;
  margin: 29px auto 0 auto;
}

.movies-card__time {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-top: 6px;
  margin-bottom: 0;
  color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 339px;
  }

  .movies-card__image {
    width: 339px;
    height: 190px;
    object-fit: cover;
  }

  .movies-card__name {
    width: 295px;
  }

  .movies-card__line {
    width: 339px;
  }
}

@media screen and (max-width: 324px) {
  .movies-card {
    width: 300px;
    margin-left: 10px;
  }

  .movies-card__image {
    width: 300px;
    height: 168px;
    object-fit: cover;
  }

  .movies-card__description {
    margin-top: 15px;
  }

  .movies-card__name {
    margin-top: 0;
    margin-bottom: 0;
    width: 240px;
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__line {
    width: 300px;
  }

  .movies-card__time {
    font-size: 10px;
    line-height: 12px;
  }

  .movies-card__like-delete {
    display: block;
  }
}

@media (max-width: 320px) and (hover: none) {
  .movies-card__like-delete {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/card-image/d1.svg);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: block;
  }
}
