.signup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.errorField {
  color: red;
  margin-top: 10px;
}
.signup__header {
  display: block;
  max-width: 396px;
  width: 100%;
  margin: 70px auto 40px auto;
  text-align: start;
}

.signup__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
}

.signup__logo {
  margin-bottom: 40px;
}

.signup__form {
  margin: 0 auto 0 auto;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
}

.signup__input-content {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  max-width: 396px;
}

.signup__input-content :focus {
  outline: 0;
  outline-offset: 0;
  border-bottom: 1px solid rgba(52, 86, 243, 1);
}

.signup__input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  max-width: 396px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 10px;
}

.signup__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 24px;
  margin-bottom: 5px;
  margin-left: 2px;
  color: rgba(160, 160, 160, 1);
}

.signup__edit {
  margin-top: 221px;
  border: none;
  background-color: #ffffff;
  max-width: 396px;
  width: 100%;
  height: 45px;
  background: #3456f3;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.signup__edit:hover {
  opacity: 80%;
}

.signup__footer {
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(160, 160, 160, 1);
  margin-top: 16px;
}

.signup__signin {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(52, 86, 243, 1);
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.signup__signin:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .signup__header {
    margin: 232px auto 16px auto;
  }

  .signup__label {
    margin-top: 24px;
  }

  .signup__footer {
    margin-bottom: 232px;
  }

  .signup__edit {
    max-width: 396px;
    margin-top: 221px;
  }
}

@media screen and (max-width: 380px) {
  .signup__edit {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .signup__header {
    width: 260px;
    margin: 56px auto 56px auto;
    text-align: center;
  }

  .signup__logo {
    margin-bottom: 50px;
  }

  .signup__form {
    max-width: 320px;
  }

  .signup__input {
    max-width: 260px;
  }

  .signup__edit {
    margin-top: 309px;
    max-width: 260px;
    height: 45px;
    font-size: 12px;
    line-height: 15px;
  }

  .signup__footer {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .signup__signin {
    font-size: 12px;
    line-height: 15px;
  }
}
