.promo {
    width: 1280px;
}

.promo__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    max-width: 626px;
    margin: 50px 584px 0 70px;
}

.promo__image {
    margin: 102px 70px 60px 488px;
}